* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  width: 1440px;
} */

.debug .container {
  height: 800px;
  background-color: red;
}
.container {
  margin: auto;
  width: 1440px;
}
.cards {
  margin-top: 1rem;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card_one,
.card_two,
.card_three {
  float: left;
  position: relative;
}

.square {
  background-color: white;
  position: absolute;
  right: 0;
  top: 25px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.heart {
  font-size: 2rem;
}

.red {
  background-color: red;
  float: left;
  padding: 5px;
}

.green {
  background-color: green;
  float: left;
  padding: 5px;
  margin-left: 5px;
}
.discount {
  position: absolute;
  left: 0;
  bottom: 15%;
  color: white;
  text-align: center;
}

.type {
  font-weight: 700;
}
.price {
  color: red;
}
.before {
  color: black;
  text-decoration: line-through;
}

.card_one,
.card_three {
  float: left;
}

.card_two {
  margin: 0 0.5rem;
}

.levis,
.verde,
.guess {
  height: 512px;
  width: 100%;
}
